<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>HOME</title>
<link rel="stylesheet" href="styles/styles.css">
<link rel="stylesheet" href="styles/styles_tablas.css">
</head>

<body>

	<div th:include="plantillas.html::cabecera"></div>
	<div th:include="plantillas.html::menu"></div>

	<main>

		<section>

			<div class="tarjetas-discos">

				<div class="tarjeta-disco" th:each="disco : ${listaDiscos}">

					<div class="tarjeta-header">
						<img th:src="@{/imagenes_discos/{foto}(foto=${disco.foto})}"
							alt="Foto Disco" class="tarjeta-imagen">

						<div class="tarjeta-info">
							<h3 th:text="${disco.nombre}">Nombre del disco</h3>

							<p class="artista">
								<a th:if="${disco.artista != null}"
									th:href="@{/artistas/{id}(id=${disco.artista.id})}"
									th:text="${disco.artista.nombre}">Artista</a> <span
									th:if="${disco.artista == null}">Sin artista</span>
							</p>

							<p class="fecha"
								th:text="${disco.fecha != null ? disco.fecha : 'Sin fecha'}">
								Fecha</p>
						</div>

					</div>

					<div class="tarjeta-detalle">
						<p>
							<strong>Discográfica:</strong> <a
								th:if="${disco.discografica != null}"
								th:href="@{/discograficas/{id}(id=${disco.discografica.id})}"
								th:text="${disco.discografica.nombre}">Discográfica</a> <span
								th:if="${disco.discografica == null}">Sin discográfica</span>
						</p>

						<p>
							<strong>Productor:</strong> <a th:if="${disco.productor != null}"
								th:href="@{/productores/{id}(id=${disco.productor.id})}"
								th:text="${disco.productor.nombre}">Productor</a> <span
								th:if="${disco.productor == null}">Sin productor</span>
						</p>
						
						<p>
							<strong>Género:</strong> <a th:if="${disco.genero != null}"
								th:href="@{/generos/{id}(id=${disco.genero.id})}"
								th:text="${disco.genero.nombre}">Género</a> <span
								th:if="${disco.genero == null}">Sin género</span>
						</p>

						<p>
							<strong>Puntuación:</strong> <span th:text="${disco.puntuacion}">0</span>/10
						</p><br>
						
						<!-- Redes musicales -->
						<div class="tarjeta-links">
						
							<strong>Enlaces:</strong>
							<a th:if="${disco.enlaceWikipedia != null}" 
							   th:href="${disco.enlaceWikipedia}" target="_blank" title="Wikipedia">
								<img src="/imagenes/wikipedia.png" alt="Wikipedia" class="icono-link">
							</a>
							<a th:if="${disco.enlaceSpotify != null}" 
							   th:href="${disco.enlaceSpotify}" target="_blank" title="Spotify">
								<img src="/imagenes/spotify.png" alt="Spotify" class="icono-link">
							</a>
							<a th:if="${disco.enlaceTidal != null}" 
							   th:href="${disco.enlaceTidal}" target="_blank" title="Tidal">
								<img src="/imagenes/tidal.png" alt="Tidal" class="icono-link">
							</a>
							
						</div>
						
					</div>

				</div>

			</div>

		</section>

	</main>

	<div th:include="plantillas.html::pie"></div>
</body>

</html>