<!DOCTYPE html>
<html lang="es">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>ADMINISTRACIÓN PRODUCTORES</title>
<link rel="stylesheet" th:href="@{/styles/styles.css}">
</head>

<body>

    <div th:include="plantillas.html::cabecera"></div>
    <div th:include="plantillas.html::menu"></div>
    
<main>

    <section>
    
    	<div th:include="plantillas.html::admin_buttons"></div>

        <!-- FORMULARIO PRODUCTORES -->
        <form th:action="@{/GuardarProductor}" method="post" th:object="${obj_productor}" enctype="multipart/form-data">
            <h2 style="margin-bottom:20px; text-align:center;">INSERTAR PRODUCTORES</h2>

            <label for="nombre">Nombre</label>
            <input type="text" th:field="*{nombre}" id="nombre" placeholder="Nombre del productor">

            <label for="foto2">Foto</label>
			<input type="file" name="foto2">

            <label for="notaMedia">Nota media</label>
            <input type="number" th:field="*{notaMedia}" min="0" max="10" id="notaMedia" placeholder="0-10">

            <label for="enlaceWikipedia">Enlace Wikipedia</label>
            <input type="text" th:field="*{enlaceWikipedia}" id="enlaceWikipedia" placeholder="https://...">

            <input type="submit" value="Guardar">
        </form>

        <!-- TABLA PRODUCTORES -->
        <section style="margin-top:50px;">
            <h2 style="text-align:center; margin-bottom:20px;">PRODUCTORES</h2>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Foto</th>
                        <th>Nota media</th>
                        <th>Enlace Wikipedia</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="prod : ${listaProductores}">
                        <td th:text="${prod.id}"></td>
                        <td th:text="${prod.nombre}"></td>
                        <td>
                            <img th:src="@{'/imagenes_productores/' + ${prod.foto}}" alt="Foto" width="100" height="50" style="border-radius:8px; object-fit:cover;">
                        </td>
                        <td th:text="${prod.notaMedia}"></td>
                        <td>
                            <a th:if="${prod.enlaceWikipedia}" th:href="${prod.enlaceWikipedia}" target="_blank">Wiki</a>
                        </td>                      
                        <td>
                            <a th:href="@{/BorrarProductor(id=${prod.id})}" style="margin-right: 20px;">🗑️</a>
                            <a th:href="@{/FrmModificarProductor(id=${prod.id})}">✏️</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>

    </section>
    
</main>

<div th:include="plantillas.html::pie"></div>

</body>
</html>
